@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    height: 100%;
    background: #ccc;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-top: 3px solid #7B68EE;
    border-bottom: 3px solid #7B68EE;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #7B68EE;
    border-radius: 50px;
}

/*   LOGIN   */

.box-login {
    max-width: 650px;
    width: 95%;
    padding: 20px 2%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5056a0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-login h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    padding: 5px;
    border-bottom: solid #5056a0;
}

form {
    padding: 20px;
}

.box-login input[type=email]:focus,
input[type=password]:focus {
    outline: none;
}

.box-login input[type=email],
input[type=password] {
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 1.5px solid #5056a0;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 15px;
    font-weight: 200;
    color: #5056a0;
}

.box-login input[type=submit] {
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15%;
    margin-top: 5%;
    padding: 10px 50px;
    background: #5056a0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn-login a {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 50px;
    background: #5056a0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

/*   MENSAGEM   */

.erro-box i {
    padding-right: 10px;
}

.erro-box {
    width: 100%;
    padding: 4px 2%;
    text-align: center;
    background: #ff0000;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.box-alert {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.sucesso {
    background: #1daa1d;
}

.erro {
    background: #ff0000;
}

/*   CONTROLE-PAINEL   */

.clear {
    clear: both;
}

.center {
    width: 100%;
    padding: 0 1%;
    margin: 0 auto;
}

header {
    position: relative;
    left: 20%;
    height: 8%;
    background: #3d437a;
    width: 80%;
}

.logout {
    float: right;
    padding: 1% 1%;
}

.logout a {
    color: #fff;
    font-size: 22px;
}

/*   MENU-PAINEL   */

div.menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #404589;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    padding: 10px 0;
}

.menu-wraper {
    width: 100%;
}

.btn-menu {
    float: left;
    cursor: pointer;
    font-size: 22px;
    padding: 1% 0.5%;
    color: #fff;
}

div.box-usuario {
    text-align: center;
}

.avatar-usuario {
    text-align: left;
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 2px solid;
}

.avatar-usuario i {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    color: #000;
}

.image-usuario {
    display: inline-block;
    width: 125px;
    height: 125px;
    position: relative;
    border-radius: 50%;
    border: 2px solid;
}

.image-usuario img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-usuario {
    text-align: center;
    margin-top: 10px;
}

.nome-usuario p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/*   MENU LABEL   */

.items-menu {
    margin-top: 20px;
}

.items-menu h2 {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    background: #5056a0;
    border: 1px solid #3d437a;
    padding: 8px;
}

.items-menu a {
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1.5px solid #ccc;
}

/*   CONTEUDO-PAINEL   */

.w100 {
    width: 100%;
}

.w50 {
    width: 49%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    position: relative;
    width: 80%;
    left: 20%;
    padding: 10px;
}

.box-content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 50px;
}

.box-content h2 {
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
}

.box-content i {
    padding: 15px;
}

.box-metricas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-metricas-single {
    border-radius: 15px;
    background-color: #7B68EE;
    color: #fff;
    margin: 20px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.box-metricas-single h2 {
    text-align: center;
}

.box-metricas-single p {
    font-size: 25px;
    font-weight: 400;
}

/*   TABELA ONLINE   */

.table-responsive {
    max-width: 1280px;
    margin: 20px auto;
}

.row:nth-of-type(1) {
    font-weight: 500;
    color: #fff;
    background-color: #7B68EE;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #777;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.col {
    margin: 0 30px;
}

/*   EDITAR USUARIO   */

.box-content h1 {
    font-size: 24px;
    border-bottom: 2px solid #000;
}

.box-content h3 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: -30px;
}

input[type=file] {
    display: none;
}

.box-content form {
    margin: 30px 0;
}

.box-content input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

.box-content input[type=text],
input[type=password] {
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 1.8px solid #5056a0;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 15px;
    font-weight: 200;
    color: #5056a0;
}

.box-content label {
    display: inline-block;
    float: left;
    margin-top: 35px;
    margin-bottom: -20px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 80px;
    background: #5056a0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.box-content input[type=submit] {
    display: inline-block;
    float: right;
    margin-top: 35px;
    margin-bottom: -20px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 80px;
    background: #5056a0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 820px) {

    .content {
        width: 100%;
        left: 0;
    }

    header {
        left: 0;
        width: 100%;
    }
}